.order {
  margin: 16px auto 32px;
  text-align: center;
}

.subtitle {
  text-align: center;
}

.check {
  width: 120px;
  height: 120px;
  display: block;
  margin: 0 auto 60px;
}

.text {
  text-align: center;
  font-size: 14px;
  line-height: 1.43;
  font-weight: normal;
}