.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 14px;
  line-height: 1.43;
  font-weight: normal;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
  /*width: 32px;*/
  /*height: 32px;*/
  /*background-color: #4C4CFF;*/
  /*border-radius: 50%;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}