.tabs {
  display: flex;
}

.sections {
  max-height: 66vh;
  overflow-y: auto;
}

.sections::-webkit-scrollbar {
  width: 12px;
}

.sections::-webkit-scrollbar-track {
  background: #2F2F37;
}

.sections::-webkit-scrollbar-thumb {
  background: #8585AD;
  border: 3px solid #2F2F37;
}

.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-row-gap: 40px;
  grid-column-gap: 24px;
}