.details {
  max-width: 520px;
  margin: 0 auto 50px;
}

.image {
  display: block;
  width: 480px;
  height: 240px;
  margin: 0 auto 16px;
}

.nutrients {
  display: flex;
  justify-content: space-between;
}

.subtitle {
  text-align: center;
}

.text {
  text-align: center;
  font-size: 14px;
  line-height: 1.43;
  font-weight: normal;
}